/*reset tokens*/
*{
   box-sizing:border-box;
  
}
html, body{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left:0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  
}
body{
  padding: 25px;
  text-align: center;
  font-family: "Libertinus Serif Display";
  background-color: #f2f2f2;
  line-height: 1.4;
}
.title {
	color: green;
	
}
h1{
  background-size:cover;
  background-position: center;
  text-align: left;
  color:green ;
  
}
h2{
  text-align: center;
  color: green;
}
h3{
  text-align: center;
  color: black;
}
:root{
  --muted:white;
  --brand:white;
  --brand-2:black;
  --BG:#f3f3f3;
  --text:white;
  --radius:16px;
}
/*utilities*/
.container{
  width: min(1120px,92vw);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom:0px;
  margin-left: auto;

}
a{
  color:inherit;  
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color:currentColor ;
  text-decoration-style: auto;
}
a:hover{
  color:green;
  text-decoration: underline;
}
img{
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: calc(var(--radius) - 6px );
  border-top-right-radius: calc(var(--radius) - 6px );
  border-bottom-right-radius: calc(var(--radius) - 6px );
  border-bottom-left-radius: calc(var(--radius) - 6px );
}
/*--header--*/
.site-header{
  position: sticky; 
  top: 0;
  z-index: 50;
  background-color: rgba(0,128,0,0.85);
  backdrop-filter: blur(8px);
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--stroke);
}
.header-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-right: 0;
  padding-bottom: 14px;
  padding-left: 0;
  gap: 16px;
}
.logo{
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 0.5px;
  display: inline-flex;
  align-items:center;
  gap: 6px;
}
.logo span{
  color: var(--brand);
}
.logo strong{
  color: var(--brand-2);
}
.main-nav ul{
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-nav a{
  color: var(--muted);
  font-weight: 600;
}
.main-nav a:hover{
  color: var(--text);
}
/*hamburger*/
.nav-toggle{
  display: none;
}
.hamburger{
  display: none;
  cursor: pointer;
  width: 32px;
  height: 28px;
  position: relative;
}
.hamburger span{
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--text);
  border-radius: 4px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0;
}
.hamburger span:nth-child(1){
  top: 4px;
}
.hamburger span:nth-child(2){
  top: 12px;
}
.hamburger span:nth-child(3){
  top: 20px;
}
.nav-toggle:checked + .hamburger span:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.nav-toggle:checked + .hamburger span:nth-child(2){
  opacity: 0;
}
.nav-toggle:checked + .hamburger span:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
@media (max-width: 700px){
.hamburger{
 display: inline-block;
}
.main-nav{
  position: absolute;
  top: 58px;
  right: 0;
  bottom: auto;
  left: 0;
  background-color: rgba(11,13,18,0.85);
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color: var(--stroke);
  display: none;
} 
.main-nav ul{
  flex-direction: column; 
  padding: 14px; 
  gap: 10px; 
 }
.nav-toggle:checked ~ .main-nav{
  display: block;
}
}
/*ticker*/
.ticker{
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  gap: 32px;
  white-space: nowrap;
}
.ticker a:hover{
  background-color: white;
  color:black;
}
/*reset tokens*/
*{
   box-sizing:border-box;
  
}
html, body{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left:0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  
}
body{
  padding: 25px;
  text-align: center;
  font-family: "Libertinus Serif Display";
  background-color: #f2f2f2;
  line-height: 1.4;
}
.title {
	color: green;
	
}
h1{
  background-size:cover;
  background-position: center;
  text-align: left;
  color:green ;
  
}
h2{
  text-align: center;
  color: green;
}
h3{
  text-align: center;
  color: black;
}
:root{
  --muted:white;
  --brand:white;
  --brand-2:black;
  --BG:#f3f3f3;
  --text:white;
  --radius:16px;
}
/*utilities*/
.container{
  width: min(1120px,92vw);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom:0px;
  margin-left: auto;

}
a{
  color:inherit;  
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color:currentColor ;
  text-decoration-style: auto;
}
a:hover{
  color:green;
  text-decoration: underline;
}
img{
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: calc(var(--radius) - 6px );
  border-top-right-radius: calc(var(--radius) - 6px );
  border-bottom-right-radius: calc(var(--radius) - 6px );
  border-bottom-left-radius: calc(var(--radius) - 6px );
}
/*--header--*/
.site-header{
  position: sticky; 
  top: 0;
  z-index: 50;
  background-color: rgba(0,128,0,0.85);
  backdrop-filter: blur(8px);
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--stroke);
}
.header-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-right: 0;
  padding-bottom: 14px;
  padding-left: 0;
  gap: 16px;
}
.logo{
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 0.5px;
  display: inline-flex;
  align-items:center;
  gap: 6px;
}
.logo span{
  color: var(--brand);
}
.logo strong{
  color: var(--brand-2);
}
.main-nav ul{
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-nav a{
  color: var(--muted);
  font-weight: 600;
}
.main-nav a:hover{
  color: var(--text);
}
/*hamburger*/
.nav-toggle{
  display: none;
}
.hamburger{
  display: none;
  cursor: pointer;
  width: 32px;
  height: 28px;
  position: relative;
}
.hamburger span{
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--text);
  border-radius: 4px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0;
}
.hamburger span:nth-child(1){
  top: 4px;
}
.hamburger span:nth-child(2){
  top: 12px;
}
.hamburger span:nth-child(3){
  top: 20px;
}
.nav-toggle:checked + .hamburger span:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.nav-toggle:checked + .hamburger span:nth-child(2){
  opacity: 0;
}
.nav-toggle:checked + .hamburger span:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
@media (max-width: 700px){
.hamburger{
 display: inline-block;
}
.main-nav{
  position: absolute;
  top: 58px;
  right: 0;
  bottom: auto;
  left: 0;
  background-color: rgba(11,13,18,0.85);
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color: var(--stroke);
  display: none;
} 
.main-nav ul{
  flex-direction: column; 
  padding: 14px; 
  gap: 10px; 
 }
.nav-toggle:checked ~ .main-nav{
  display: block;
}
}
/*ticker*/
.ticker{
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  gap: 32px;
  white-space: nowrap;
}
.ticker a:hover{
  background-color: white;
  color:black;
}
